.form-control {
  background-color: #ffffff !important;
  outline: none !important;
  box-shadow: none !important;
  color: #01163e !important;
  border-radius: 0.75rem !important;
  padding-right: 7.5rem !important;
}

.form-disabled {
  background-color: #635f5f !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0.75rem !important;
}
