.account {
  height: 15vh;

  position: relative;
  opacity: 1 !important;
  z-index: 9999 !important;
  background-color: #000313 !important;
}
.account-border {
  border-top: 1px solid #202238 !important;
  padding: 0.75rem 0 !important;
}

@media (max-width: 768px) {
  .account-display {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    border-right: 1px solid #202238 !important;
  }
  .account-display-in {
    transition: transform 0.5s ease-in;
    border-right: 1px solid #202238 !important;
  }
}
