.my-card {
  height: 80vh;
  overflow-y: auto;
}

.card-bacgorund-color {
  background-color: #8ab0cd;
}

.chat-card-color {
  background-color: #8ab0cd !important;
}
.chat-card-color-dark {
  background-color: #658ba7;
}

.chat-card-padding {
  padding-left: 10% !important;
  padding-right: 10% !important;
}
