.chat-history {
  height: 70vh;
  overflow-y: auto;
  position: relative;
  z-index: 9999 !important;
}
.button-history {
  color: #e4e4e4 !important;
}

.button-history:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.button-active {
  background-color: hsla(0, 0%, 100%, 0.1) !important;
}

@media (max-width: 768px) {
  .chat-display {
    display: none !important;
  }
}
