.chat-history {
  height: 70vh;
  overflow-y: auto;
  position: relative;
  opacity: 1 !important;
  z-index: 9999 !important;
}
.button-history {
  color: #e4e4e4 !important;
}

.button-history:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.button-active {
  background-color: hsla(0, 0%, 100%, 0.1) !important;
}

@media (max-width: 768px) {
  .chat-history-display {
    display: none;
  }
}

.btn-txt-decoration {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s ease-in-out;
}

.btn-txt-decoration:hover {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}
