.my-card {
  overflow-y: auto;
  height: 80vh;
}

@media (max-width: 768px) {
  .my-card {
    height: 72vh;
  }
}

.card-background {
  background-color: #000313 !important;
}

.chat-card-color {
  background-color: #143066 !important;

  border-radius: 0.5rem;
}
.chat-card-color .card-body {
  color: #eaedf2 !important;
}
.chat-card-color-dark {
  background-color: #e3e6ea;
  border-radius: 0.5rem;
}

.chat-card-color-dark .card-body {
  color: #01163e !important;
}

.chat-card-padding {
  padding-left: 2% !important;
  padding-right: 2% !important;
}
