.loading-dots {
  font-size: 2.5rem !important;
  color: #01163fcc !important;
}
.loading-dots:hover {
  background-color: transparent;
}

.button-container {
  z-index: 999;
}
.button-color {
  color: #01163fcc;
}
