.form-control {
  background-color: #8ab0cd !important;
  outline: none !important;
  box-shadow: none !important;
}

.form-disabled {
  background-color: #658ba7 !important;
  outline: none !important;
  box-shadow: none !important;
}
