.form-control {
  outline: none !important;
  box-shadow: none !important;
  color: #01163e !important;
}

.form-disabled {
  background-color: #658ba7 !important;
  outline: none !important;
  box-shadow: none !important;
}
